<!-- edit.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Player</title>
</head>
<body>
    <h1>Edit Player</h1>

    <form action="{{ url_for('update_player', player_id=player._id) }}" method="post">
        <label for="name">Name:</label>
        <input type="text" name="name" value="{{ player.name }}" required>
        <label for="position">Position:</label>
        <input type="text" name="position" value="{{ player.position }}" required>
        <label for="age">Age:</label>
        <input type="number" name="age" value="{{ player.age }}" required>
        <label for="trophies">Trophies:</label>
        <input type="number" name="trophies" value="{{ player.trophies }}" required>
        <label for="ballondor">Ballondor:</label>
        <input type="number" name="ballondor" value="{{ player.ballondor }}" required>
        <button type="submit">Update Player</button>
        <label for="team">Team:</label>
        <select name="team" id="team">
            {% for team in teams %}
                <option value="{{ team._id }}" {% if team._id == player.team_id %}selected{% endif %}>{{ team.name }}</option>
            {% endfor %}
        </select>

    </form>
</body>
</html>
